.title {
    text-align: center;
}

.category-container {
    /* border: 2px solid; */
    margin: 1rem auto;
}

.category {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 1.5rem 0;

}

.category-btn {
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.category-btn::before {
    content: '';
    position: absolute;
    background-color: #000;
    left: 0;
    /* padding: 1rem; */
    border-radius: 0.5rem;
    top: 0;
    z-index: -1;
    
    
}

.category-btn:hover::before {
    position: absolute;
    right: 0;
    padding: 1rem;
    color: #ffffff;
    transform: scaleX(1);
}

