.title {
    text-align: center;
}

.category-container {
    /* border: 2px solid; */
    margin: 1rem auto;
}

.category {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin: 1.5rem 0;

}

.category-btn {
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    background-color: #3498db;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    position: relative;
    text-decoration: none;
}

.category-btn:hover {
    color: #ffffff;
}


