* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

img {
    width: 7rem;
    height: 4rem;
    background: transparent;
    user-select: none;
}

ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 1rem;
}

li {
    list-style: none;
    font-size: large;
}


.cartDiv {
  display: flex;
  align-items: center;
  margin-right: 0.4rem;
}

.cartDiv p {
    color: rgba(255, 255, 255, 0.5);
    font-size: large;
}

.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
}

.link:hover {
    color: rgba(255, 255, 255, 1);
}

.cartDiv p:hover {
    color: whitesmoke;
}

